<!DOCTYPE html>
<html>
    <head>
        <title>Portal</title>
        {{> head}}
		<link rel="stylesheet" type="text/css" href="/css/portal-style.css">
        
    </head>
    <body>
        {{>header}}
        <main id="portal" class="min-fill-screen-y main-card">
            <div class="portal-wrapper main-card-inner">
                <div class="portal-select-panel">
                    <h2>My Portal</h2>
                    <div class="portal-select-area">
                        <button id="user-info" class="portal-select-button">
                            <i class="fas fa-user-alt"></i> User Info
                        </button>
                        <button id="settings" class="portal-select-button">
                            <i class="fas fa-cog"></i> Settings
                        </button>
                        <button id="my-events" class="portal-select-button">
                            <i class="fas fa-calendar-week"></i> Events
                        </button>
                        <div id="portal-current-select" style="top: 28px;"></div>
                    </div>

                    <button id="button-logout">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </button>
                </div>

                <div class="portal-content-container">
                    <div id="user-info-content" class="portal-content hidden-fadein-potato">
                        <button id="button__edit-content-info" class="button__edit-content">
                            <i class="far fa-edit"></i>&nbsp;<span>Edit</span>
                        </button>

                        <div id="content-info" class="hidden-fadein-potato">
                            <div class="portal-name-block">
                                <img class="portal-prof-pic" src="../res/unknown-user.png">
                                <div>
                                    <h3 id="fullname">{{firstName}} {{lastName}}</h3>
                                    <div class="portal-username">@<span id="username">{{username}}</span></div>
                                    <span>Community Member</span>
                                </div>
                            </div>

                            <div id="biography" class="portal-biography">
                                {{#unless biography}}
                                    {{!-- <span class="bio-quote">"</span> --}}
                                    Apparently, this user prefers to keep an air of mystery about them.
                                {{/unless}}
                                {{biography}}
                            </div>

                            <div id="location" class="portal-location">
                                {{location}}
                            </div>
                        </div>

                        <form name="edit-content-info" class="edit-content hidden-fadein-potato hidden-fadein-driver" novalidate>
                            <div class="form-bar">
                                <input type="file" class="form-input-verify" accept="img" name="profpic" required>
                                <label class="form-input-verify-placeholder" for="profpic">Upload Profile Picture</label>
                            </div>
                            <div class="form-bar form-bar__partial">
                                <div>
                                    <input type="text" class="form-input" name="firstname" required value="{{firstName}}">
                                    <span class="form-input-placeholder">First Name</span>
                                </div>
                                
                                <div>
                                    <input type="text" class="form-input" name="lastname" required value="{{lastName}}">
                                    <span class="form-input-placeholder">Last Name</span>
                                </div>
                            </div>
                            <div class="form-bar">
                                <input type="text" class="form-input" name="username" required value="{{username}}">
                                <span class="form-input-placeholder">Username</span>
                            </div>
                            <div class="form-bar">
                                <textarea class="form-input" name="biography" rows="8" required>{{biography}}</textarea>
                                <span class="form-input-placeholder">About Me</span>
                            </div>
                            <div class="form-bar">
                                <input type="text" class="form-input" name="location" required value="{{location}}">
                                <span class="form-input-placeholder">Location</span>
                            </div>
                        </form>
                    </div>

                    <div id="settings-content" class="portal-content hidden-fadein-potato hidden-fadein-driver">
                        <button id="button__edit-content-settings" class="button__edit-content">
                            <i class="far fa-edit"></i>&nbsp;<span>Edit</span>
                        </button>

                        <div id="content-settings" class="hidden-fadein-potato">
                            Show
                        </div>

                        <form name="edit-content-settings" class="edit-content hidden-fadein-potato hidden-fadein-driver" novalidate>
                            <div class="form-bar">
                                <input type="text" class="form-input" name="email" required value="{{email}}">
                                <span class="form-input-placeholder">Email</span>
                            </div>
                            <div class="form-bar">
                                <input type="password" class="form-input" name="newpassword" required>
                                <span class="form-input-placeholder">New Password</span>
                            </div>
                        </form>
                    </div>

                    <div id="my-events-content" class="portal-content hidden-fadein-potato hidden-fadein-driver">
                        My Events
                    </div>
                </div>
            </div>
        </main>
        {{>footer}}
        <script src="/js/portal-script.js"></script>
    </body>
</html>