{{#each eventsList}}
	<li class="event-item">
		<div class="collapsible collapsible-not-active">
			<h1 class="event-name">{{name}}</h1>
			<img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" class="event-logo" >
		</div>

		<div class="event-item-content hidden-slidein-potato">
			<div class="two-column-grid s1-4">
				<span>Hosted By:</span> 	<span class="owner">{{ownerFirstName}} {{ownerLastName}}</span>
				<span>Time:</span> 			<span class="time">{{time}}</span>
				<span>Location:</span> 		<span class="location">{{location}}</span>
				<span>Description:</span> 	<span class="description">{{description}}</span>
			</div>
		</div>
	</li>
{{/each}}
